
<h1>Cocktails</h1>

 <div class="cards">
  <% @cocktails.each do |cocktail| %>
    <div class="card">
        <div class="card-container">
          <h3> <%= cocktail.name %> </h3>
        </div>
    </div>
  <% end %>
</div>

