<h1>Find all our cocktails</h1>
<div class="container">

  <div class="cards">

        <% @cocktails.each do |cocktail| %>
        <div class="card">
          <div class="card-container m-1" style="background-image: url('<%=cl_image_path cocktail.photo.url %>')">
              <div id="name"><h3><a href='/cocktails/<%= cocktail.id %>'> <%= cocktail.name %></a></h3></div>
              <% cocktail.ingredients.each do |ingredient|%>
                <p><%= ingredient.name %>
              <% end %>
             </p>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
