<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link active" href="/">Cocktails</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/ingredients/">Ingredients</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cocktails/new">Create Cocktail</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/ingredients/new" >Add Ingredient</a>
  </li>
</ul>
